.DS_Store
android/sources/bin
android/example/bin
android/sources/gen
android/example/gen
device/
testvideos/
ios/ImpactProto/ImpactProto.xcodeproj/project.xcworkspace/xcuserdata
ios/ImpactProto/ImpactProto.xcodeproj/xcuserdata
