.DS_Store
android/sources/bin
android/example/bin
android/sources/gen
android/example/gen
android/unittests/bin
android/unittests/gen
device/
testvideos/
protographics/
webview/
ios/example/ImpactProto.xcodeproj/project.xcworkspace/xcuserdata
ios/example/ImpactProto.xcodeproj/xcuserdata
ios/example/ImpactProto.xcodeproj/project.xcworkspace/xcshareddata
ios/ApplifierImpact.xcodeproj/project.xcworkspace/xcuserdata
ios/ApplifierImpact.xcodeproj/project.xcworkspace/xcshareddata/
ios/ApplifierImpact.xcodeproj/xcuserdata
ios/ApplifierImpact.xcworkspace/project.xcworkspace/xcuserdata
ios/ApplifierImpact.xcworkspace/xcuserdata
ios/build/ApplifierImpact.build/
ios/build/Release-iphoneos/ApplifierImpact.embeddedframework/
ios/build/Test-iphoneos/
ios/build/Test-iphonesimulator/
ios/build/Debug-iphonesimulator/
ios/build/Debug-iphoneos/
bin-debug/
xcuserdata/
Release-iphonesimulator/
.fake_fw_testing.framework/
*.ipa

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
=======
android/example/.settings/
android/sources/.settings/
android/unittests/.settings/
