.DS_Store
android/sources/bin
android/example/bin
android/sources/gen
android/example/gen
device/
testvideos/
protographics/
webview/
ios/example/ImpactProto.xcodeproj/project.xcworkspace/xcuserdata
ios/example/ImpactProto.xcodeproj/xcuserdata
ios/ApplifierImpact.xcodeproj/project.xcworkspace/xcuserdata
ios/ApplifierImpact.xcodeproj/xcuserdata
ios/ApplifierImpact.xcworkspace/project.xcworkspace/xcuserdata
ios/ApplifierImpact.xcworkspace/xcuserdata
ios/build/ApplifierImpact.build/
ios/build/Release-iphoneos/ApplifierImpact.embeddedframework/
bin-debug/
xcuserdata/
Release-iphonesimulator/
.fake_fw_testing.framework/
*.ipa

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
